<div id="cover">
  <div id="centerpiece">
    <br><br><br><br><br><br>
    <center><h1 class="ui red header">Rails + {Okta}</h1>
      <br><br><br><br>
      <img class="ui centered medium rounded image" src="/assets/rails.png">
    </center>
  </div>
</div>
